* {
    list-style-type: none;
}
.credits {
    margin: 0 auto;
    width: 600px;
    border: 1px solid red;
}
ul {
    border: 1px solid yellow;
    padding: 0 30px;
    background-image: url("spritesheet.png");
}
.credits ul li {
    float: left;
    margin-left: 40px;
}
